@media (prefers-color-scheme: light) {
    :root {
        --background-color: white;
        --text-color: black;
        --navbar-background-color: #c0c0c0;
        --code-background-color: lightgoldenrodyellow;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --text-color: white;
        --navbar-background-color: #404040;
        --code-background-color: #202040;
    }
}

@font-face {
    font-family: Uiua386;
    src: url(https://uiua.org/Uiua386.ttf);
}

* {
    background-color: var(--background-color);
    font-family: 'Segoe UI', 'Arial', sans-serif;
}

:not(a) {
    color: var(--text-color);
}

.invisible {
    display: none;
}

.code {
    font-family: "Uiua386";
    background-color: var(--code-background-color);
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--navbar-background-color);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbar > * {
    background: inherit;
}

#search-bar {
    background-color: var(--code-background-color);
    width: 10em;
}

#container {
    box-sizing: border-box;
}